/*-------------------- CSS --------------------*/
@media only screen and (max-width: 850px) {
  nav {
    width: 100%;
    padding-left: 5%;
  }
  nav .menu-icon {
    display: block;
    font-family: var(--font-montserrat);
  }
  nav .menu-list {
    position: absolute;
    top: 0;
    right: 0%;
    flex-direction: column;
    padding: 80px 0;
    height: 100vh;
    min-width: 300px;
    width: 40%;
    background: hsla(0, 0%, 31%, 0.7);
    backdrop-filter: blur(7px);
    z-index: 5;
    transition: 0.5s;
  }

  nav .menu-list .link {
    color: white;
    flex-direction: column;
    align-items: center;
  }
  nav .menu-list .sign {
    color: white;
    flex-direction: column;
    align-items: center;
  }
  .js-menu-hide {
    transform: translateX(100%);
  }
  main .text-area .heading {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 640px) {
  nav {
    padding-left: 10%;
    padding-top: 20px;
  }
  main {
    width: 80%;
    flex-direction: column;
  }
  main .text-area {
    order: 2;
    width: 100%;
    padding: 0;
  }
  main .image-area {
    width: 100%;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  main .image-area img {
    width: 70%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 400px) {
  main .text-area .heading {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }
}
