/*-------------------- CSS --------------------*/
/* style.css */
:root {
  --Primary: #3ad1b3;
  --Secondary: #ea6e58;
  --third: #4bdc66;
}

.wrapper {
  width: 1280px;
  max-width: 90%;
  overflow: auto;
  margin: 50px auto 20px auto;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.container {
  width: max-content;
  display: flex;
}

.card {
  box-shadow: 2px 2px 10px #1232;
  height: 450px;
  position: relative;
  border-radius: 15px;
  margin: 10px;
  overflow: hidden;
  scroll-snap-align: start;
}

.card img {
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin: auto;
  object-fit: cover;
  display: block;
  transition: 0.5s;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn div {
  background-color: var(--Primary);
  margin: 10px;
  padding: 10px;
  transition: 0.5s;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn div:hover {
  background-color: var(--third);
}

.btn div img {
  width: 20px;
}
